.whales--gallery {
  width: 80%;
  max-width: 1200px;
  margin: 3% auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto, 600px);
  gap: 80px;
  @media screen and (max-width: 780px) {
    padding-top: 15%;
  }
}
