.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  h2 {
    color: black;
    letter-spacing: 4px;
  }
  img {
    width: 40%;
    margin: 0 auto;
    display: flex;
    border-radius: 50%;
  }
  @media screen and (max-width: 600px) {
    padding-top: 30%;

    h2 {
      font-size: 1.2em;
    }
    img {
      width: 80%;
      margin-top: 10%;
    }
  }
}