<section class="home--section">
    <div class="hero">
        <h1>Wiki Whale,  a deep discover jorney!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia labore facere sapiente in fugiat hic quaerat. Eaque iusto maiores aliquam accusantium id delectus quia ipsum facere voluptatibus, temporibus expedita quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non molestias optio nisi iure officiis vero repellendus facilis recusandae atque odio asperiores possimus accusantium nihil voluptatibus provident, voluptatem odit aliquid ullam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia labore facere sapiente in fugiat hic quaerat. Eaque iusto maiores aliquam accusantium id delectus quia ipsum facere voluptatibus, temporibus expedita quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non molestias optio nisi iure officiis vero repellendus facilis recusandae atque odio asperiores possimus accusantium nihil voluptatibus provident, voluptatem odit aliquid ullam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia labore facere sapiente in fugiat hic quaerat. Eaque iusto maiores aliquam accusantium id delectus quia ipsum facere voluptatibus, temporibus expedita quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non molestias optio nisi iure officiis vero repellendus facilis recusandae atque odio asperiores possimus accusantium nihil voluptatibus provident, voluptatem odit aliquid ullam!</p>
    </div>
    <div class="gallery">
        <img src="https://cdn.shopify.com/s/files/1/0019/8102/2321/products/extraordinary-attorney-woo-young-woo-water-whale-suncatcher-456597_1400x.jpg?v=1659624829" atl="img-1"/>
        <img src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/164/29/164-29-101P/Whales-Amy-Hamilton-Poster.jpg" atl="img-2"/>
        <img src="https://i.pinimg.com/736x/21/51/2c/21512cd07b8a67e78ed2f39e97954b4d--piercing-ideas-fun-projects.jpg" atl="img-2"/>
    </div>
        
</section>